/*jCarousel*/
.jcarousel-wrapper {
    position: relative;
    width: 600px;
    margin: 20px auto;
    border: 10px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px #999;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    position: relative;
    width: 20000px;
}

.jcarousel li {
    float: left;
    /*list-style: none;*/
}

.jcarousel img {
    width: 600px;
}

.jcarousel-prev,
.jcarousel-next {
    position: absolute;
    top: 105px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 100%;
    background: #4e443c;
    color: #fff;
    font: 24px Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
}

.jcarousel-prev {
    left: 20px;
}

.jcarousel-next {
    right: 20px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin: 0;
    margin-left: -22px;
}

.jcarousel-pagination a {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    border-radius: 10px;
    background: #fff;
    color: #4e443c;
    font-size: 11px;
    line-height: 10px;
    text-indent: -9999px;
    -moz-box-shadow: 0 0 2px #4e443c;
    -webkit-box-shadow: 0 0 2px #4e443c;
    box-shadow: 0 0 2px #4e443c;
}

.jcarousel-pagination a.active {
    background: #4e443c;
    color: #fff;
    -moz-box-shadow: 0 0 2px #f0efe7;
    -webkit-box-shadow: 0 0 2px #f0efe7;
    box-shadow: 0 0 2px #f0efe7;
    opacity: 1;
}

/*select*/
form {
    width: 600px;
    margin: 0 auto;
    font-size: 14px;
}

.select-box {
    width: 40%;
    float: left;
}

p {
    margin: 10px 5px;
}

/*jQuery checkBox*/
.jquery-checkbox,
.css-checkbox {
    width: 30%;
    float: left;
}

.niceCheck {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url('../img/checkbox.png');
    cursor: pointer;
    overflow: hidden;
}

.niceChecked {
    background-position: 0 -17px;
}

.jquery-checkbox input {
    opacity: 0;
}

.niceCheckDisabled {
    background-image: url('../img/checkbox-disabled.png');
}

/*css checkBox*/
.css {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.css-text {
    cursor: pointer;
}

.css-text::before {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 17px;
    height: 17px;
    margin-right: 15px;
    background: url('../img/checkbox.png');
    content: ' ';
}

.css:checked + .css-text::before {
    background-position: 0 -17px;
}

.css:disabled + .css-text::before {
    background: url('../img/checkbox-disabled.png') 0 -17px;
}
